@font-face {
  font-family: 'disney';
  src: local('disney'), url(./fonts/waltographUI.ttf) format('truetype');
}
.App {
  text-align: center;
}
.container{
  width: 75%;
  height: 40%;
  margin-left: 5%;
  margin-top: 2%;
}
.frase{
  width: 50%;
  height: auto;
}
h1{
  font-family: 'Indie Flower', cursive;
  font-size: 500%;
  font-weight: 600;
  color:#19CFCC;
  margin-top: -5%;
}

p{
  font-family: 'Inconsolata', monospace;
  font-size: 200%;
  color: white;
}

#la{
  margin-top: 15%;
}

#la2{
  margin-top: -20%;

}

#notiene{
  text-align: center;
  margin-top: -25%;
}
#notiene2{
  text-align: center;
  margin-top: -20%;
}

#sonpara{
  text-align: center;
  margin-top: -20%;
}
#tiempo{
  margin-top: -11%;
}

#imaginacion{
  margin-top: -10%;
  padding-bottom: -30%;
}

#edad{
  margin-top: -12%;
}
#suenos{
  margin-top: -13%;
}
#siempre{
  text-align: center;
  font-size: 800%;
  margin-top: -14%;
}
#y{
  margin-top: -20%;
}
.line{
  display: inline-flex;
  text-align: center;
  
}
.line>left{
  display: table-column;
}
.line2{
  margin-top: -30%;
  display: inline-flex;
}
.line>right{
  text-align: left;
  margin-top: 25%;
}

.autor{
  margin-top: -10%;
  text-align: end;
  width: 100%;
  height: 100%;
}

.autor>h1{
  font-family: 'disney';
  font-size: 500%;
  color: white;
}
